.profile-img{
    height:40px;
    border: 4px solid #17153B; /* Border color and width */
    padding: 1.5px;
    border-radius: 50%; /* Makes the border round */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Adds a shadow */
    transition: transform 0.3s ease; /* Smooth transition for scaling */
}
.background-img {
    background-image: url('./Images/pexels-kasuma-1785493.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.custom-navbar {
    background-color: #dddbd1; /* Custom color */
}
.title{
    font-size: 4rem;
  }
.bold-text {
    font-weight: bold;
}
@media (max-width:500px){
  .homie1{
    display: block;
    font-size: 2rem;
  }
}
@media (max-width:500px){
  .homie2{
    display: block;
    font-size: 1rem;
  }
}
.mouse-scroll-animation {
    position: absolute;
    bottom: -30px; /* Adjust this for desired vertical position */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10; /* Ensure it appears above other content */
  }
  
  .mouse {
    width: 25px;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 20px;
    position: relative;
  }
  
  .mouse-wheel {
    width: 3px;
    height: 5px;
    background: #fff;
    border-radius: 2px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-60%);
    animation: scroll 1.5s infinite;
  }
  
  @keyframes scroll {
    0% {
      top: 10px;
      opacity: 1;
    }
    100% {
      top: 30px;
      opacity: 0;
    }
  }
  .short-line {
    width: 50px; /* Adjust the width as needed */
    border: none; /* Remove default border */
    border-top: 4px solid #003366; /* Blue color for the top border */
    margin: 10px auto; /* Center the line and add vertical spacing */
  }
  body {
    font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  }
  .about-content {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-gap: 5rem;
}
.skills {
  display: flex;
  flex-wrap: wrap;
}
.skills-skill {
  padding: 0.5rem 1rem;
  margin-bottom: 0.6rem;
  margin-right: 0.6rem;
  font-size: 0.8rem;
  background: rgba(153, 153, 153, 0.2);
  border-radius: 5px;
  font-weight: 600;
  color: #666;
}
@media (max-width:900px){
  .about-content{
    display: block;
  }
}
.proimage1{
  padding: 20px;
  height: auto;
  object-fit: cover;
}
.card{
  border: 1px solid #003366;
}
.copywrite{
  font-size: 0.5rem;
}